.footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(82, 37, 37);
  color: #fff;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  gap: 20px;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 20px;
}

.social svg {
  color: white;
  font-size: 2.5rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.social svg:hover {
  transform: scale(1.3);
}
.footer p {
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
  letter-spacing: 2px;
}
