/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}
a,
a:link,
a:visited {
  text-decoration: none;
  outline: none;
  border: none;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
section,
span,
p {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}
/* reset */
.navbar {
  background-color: rgb(82, 37, 37);
  display: flex;
  padding: 10px 20px;
}

.logoImg {
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 10px #fff;
  background-color: #fff;
  object-fit: cover;
  object-position: center;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.logoImg:hover {
  transform: scale(1.1);
}

.right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  gap: 50px;
  padding-right: 20px;
}
.right-side a:hover {
  transform: scale(1.1);
  color: rgb(186, 190, 192);
}
.right-side a {
  color: #fff;
  font-size: 1.5rem;
}
